<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Required meta tags -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <!-- Vendor/Plugins CSS -->
  <link rel="stylesheet" href="css/fontawesome-all.min.css">

  <!-- Fluxo Template CSS -->
  <link rel="stylesheet" href="css/main.css">

  <title>Log In Page | Tripllle - Social media app for photographers</title>

</head>

<body >

  <div class="container-fluid">
    <div class="row min-vh-100 align-items-stretch">

      <div class="col-lg-7 d-none d-lg-flex justify-content-center align-items-center" style="background-color: #e44d3a">

        <div class="w-66">
          <h2 class="color--white mb-5" >Let's build a huge community for people who love photograph</h2>
          <img class="sm-4 mb-n4" src="images/sign_up.png"  alt="Login Page" style="width: 600px">
        </div>

      </div>

      <div class="col-lg-5 d-flex align-items-center py-5 background--light">

        <div class="w-75 mx-auto overflow-hidden px-md-5 px-lg-3">
          <header class="mb-4">
            <a class="cover-page-brand" href="/"><h1>Tripllle</h1></a>
          </header>

          <main class="main">
            <h3 class="mb-2">Login to your account</h3>
            <p class="mb-4">Need a Tripllle account? <a href="/sign-up">Create an account</a></p>

            <form class="login-form" action="/" method="post">
              <div class="row">

                <div class="col-sm-12 mb-2">
                  <div class="form-group">
                    <label for="email">Username</label>
                    <input name="username" type="text" class="form-control" id="email" placeholder="username">
                  </div>
                </div>

                <div class="col-sm-12 mb-2">
                  <div class="form-group">
                    <label for="email">Password</label>
                    <input name= "password" type="password" class="form-control" id="password" placeholder="8 characters or more">
                    <span class="d-block text-lg-right mt-1">
                      <small><a href="https://weboth.us/preview/fluxo-v1.0.0/html/login.html#0">Forgot password?</a></small>
                    </span>
                  </div>
                </div>

                <div class="col-sm-12 mb-2">
                  <button type="submit" name="submit" class="btn btn-primary w-100">Log In</button>
                </div>

                <div class="col-sm-12 mb-2 text-center position-relative pt-2 pb-3 px-0">
                  <hr class="mw-100 position-absolute z-index-100" style="width:calc(100% - 30px);margin-left:15px;">
                  <small class="px-3 background--light position-relative z-index-105">Or log in with:</small>
                </div>

                <div class="col-sm-6 mb-2">
                  <a href="#" class="btn color--white w-100 px-2" style="background-color: #3f5d94"> Facebook</a>
                </div>
                <div class="col-sm-6 mb-2">
                  <a href="#" class="btn background--white color--black w-100 px-2" style="background-color: #3f5d94"> Google</a>
                </div>

              </div>
            </form>
          </main>

          <footer class="mt-6">
            <small>©2020 - Tripllle. All rights reserved.</small>
          </footer>
        </div>

      </div>

    </div>
  </div>

  <!-- Global Required JS -->
  <script src="js/jquery-3.3.1.slim.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Vendor/Plugins JS -->

  <!-- Vendor/Plugins JS Init -->

  <!-- Fluxo Template JS -->
  <script src="js/main-min.js"></script>


</body></html>